<div n:if="empty($cookies)">
    <div id="eu-cookies">
        <span>
            Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte. 
            <a href="https://www.google.com/intl/cs/policies/technologies/cookies/" target="_blank">Vice informací</a>
        </span>
        <button id="eu-cookies-accept">Souhlasím</button>
    </div>
    <noscript><style>.eu-cookies { display:none }</style></noscript>
    <script type="text/javascript" n:if="$generateJs">
        document.getElementById("eu-cookies-accept").onclick = function () {
            var date = new Date();
            date.setFullYear(date.getFullYear() + 10);
            document.cookie = 'eu-cookies=1; path=/; expires=' + date.toGMTString();
            document.getElementById("eu-cookies").style.display = 'none';
        };
    </script>
</div>