#eu-cookies {
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    background:Menu;
    align-items:center;
    color:GrayText;
    padding:5px;
    z-index:1000;
    position:relative
}

#eu-cookies, #eu-cookies span, #eu-cookies a {
    font-size:12px;
    font-family:'Arial','Helvetica',sans-serif
}

#eu-cookies span {
    padding-right:5px
}

#eu-cookies span a, #eu-cookies span a:hover, #eu-cookies span a:visited, #eu-cookies span a:active, #eu-cookies span a:focus {
    color:GrayText;
    text-decoration:underline
}

#eu-cookies button {
    flex-shrink:0;
    cursor:pointer;
    font-weight:.9em
}